@import "tailwindcss";

/* Optional: small global tweaks for the demo */
body {
  @apply bg-slate-50 text-slate-900;
}

@layer base {
    /* Will be overridden by components and utilities */
    button {
        @apply font-bold py-2 px-4 rounded;
    }
}

@layer components {
    /* Will be overridden by utilities */
    .blue {
        @apply bg-blue-500 text-white;
    }
    .blue:hover {
        @apply bg-blue-700;
    }

}

@layer utilities {
    /* Wins against everything else */

}

