@import "tailwindcss";

/* Optional: small global tweaks for the demo */
body {
  @apply bg-slate-50 text-slate-900;
}

@layer base {
  /* Will be overridden by components and utilities */
  button {
    @apply font-bold py-2 px-4 rounded;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  input {
    @apply border-1 border-gray-700 bg-white rounded-sm text-gray-700
  }
}

@layer components {
  /* Will be overridden by utilities */
  button.blue {
    @apply bg-blue-500 text-white;
  }
  button.blue:not([disabled]):hover {
    @apply bg-blue-700;
  }

  button.red {
    @apply bg-red-500 text-white;
  }

  button.red:not([disabled]):hover {
    @apply bg-red-700;
  }
}

@layer utilities {
  /* Wins against everything else */
}